# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
catboost=1.2=pypi_0
dask=2023.6.0=pypi_0
dask-core=2023.6.0=py310hecd8cb5_0
lightgbm=3.3.5=pypi_0
numexpr=2.8.4=pypi_0
numpy=1.23.5=pypi_0
numpy-base=1.25.0=py310ha186be2_0
pandas=1.5.3=pypi_0
pandas-profiling=3.6.6=pypi_0
scikit-learn=1.2.2=pypi_0
scipy=1.10.1=pypi_0
seaborn=0.12.2=pypi_0
statsmodels=0.14.0=pypi_0
tqdm=4.65.0=pypi_0
ydata-profiling=4.3.1=pypi_0
